.wmata {
  font-size: 4rem;
  line-height: 1.2;
  width: 500px;
}

.wmata-title {
  margin-bottom: 10px;
  opacity: 0.85;
}

.wmata-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wmata-row {
  display: flex;
  justify-content: space-between;
}

.wmata-left {
  opacity: 0.9;

  /* color: red; */
}

.wmata-right {
  font-weight: 700;
}

.wmata-error {
  color: #f66;
}

.wmata-loading {
  opacity: 0.7;
}
