{% macro humidity() %}
  {% if current.humidity %}
    <span class="humidity"
      ><span>{{ current.humidity | decimalSymbol }}</span><sup>&nbsp;<i class="wi wi-humidity humidity-icon"></i></sup
    ></span>
  {% endif %}
{% endmacro %}
{% if current %}
  {% if not config.onlyTemp %}
    <div class="flex xlarge type-temp">
      <span class="xxlarge normal bright ">{{ current.temperature | roundValue | unit("temperature") | decimalSymbol }}</span>
      <div class="normal xlarge feelslike">
        {% if config.showFeelsLike %}
          <span class="dimmed">
            {% if config.showHumidity === "feelslike" %}
              {{ humidity() }}
            {% endif %}
            {{ "FEELS" | translate({DEGREE: current.feelsLike() | roundValue | unit("temperature") | decimalSymbol }) }}
          </span>
          <br />
        {% endif %}
        {% if config.showPrecipitationAmount and current.precipitationAmount %}
          <span class="dimmed"> <span class="precipitationLeadText">{{ "PRECIP_AMOUNT" | translate }}</span> {{ current.precipitationAmount | unit("precip", current.precipitationUnits) }} </span>
          <br />
        {% endif %}
        {% if config.showPrecipitationProbability and current.precipitationProbability %}
          <span class="dimmed"> <span class="precipitationLeadText">{{ "PRECIP_POP" | translate }}</span> {{ current.precipitationProbability }}% </span>
        {% endif %}
      </div>
    </div>
    {% if config.showHumidity === "below" %}
      <span class="medium dimmed">{{ humidity() }}</span>
    {% endif %}
  {% else %}
    <div class="dimmed light small">{{ "LOADING" | translate }}</div>
  {% endif %}
{% endif %}
<!-- Uncomment the line below to see the contents of the `current` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{ current | dump }}</div> -->
